// 変数定義
//   color
$color__brand__main: #0e4aa3;
$color__com__white: #fff;
$color__com__border: #dee1e8;
$color__com__gray: #f4f5f7;
$color__com__note: #969696;
$color__com__attention: #fc573a;
//   font-size
$font-size__com__default: 16px;
$font-size__com__note: 14px;
$font-size__com__title: 24px;
//   space
$space__touch: 8px;
$space__near: 16px;
$space__low: 24px;
$space__mid: 40px;
$space__high: 64px;
$space__separate: 80px;
